<div class="card">
    <input type="search" pInputText placeholder="Search by Name" >
</div>
<div class="card">
    <div class="card">
        <div class="grid">
            <div class="col-10">
                <h3>Repairing Television</h3>
            </div>
            <div class="col-2">
                <button pButton pRipple type="button"
                        icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"></button>
            </div>
        </div>
        <h4><b>150DT</b></h4>
        <h4>Intermediate</h4>
        <p>
            Hello! I’m looking for someone with experience yo create a Wikipedia Page for a Brand in english. Could you please send me a proposal…
        </p>
        <button pButton type="button" class="p-button-raised p-button-rounded">See More</button>
    </div>
    <div class="card">
        <div class="grid">
            <div class="col-10">
                <h3>Painting Cars</h3>
            </div>
            <div class="col-2">
                <button pButton pRipple type="button"
                        icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"></button>
            </div>
        </div>
        <h4><b>300DT</b></h4>
        <h4>Intermediate</h4>
        <p>
            Hello! I’m looking for someone with experience with painting cars. Could you please send me a proposal…
        </p>
        <button pButton type="button" class="p-button-raised p-button-rounded">See More</button>
    </div>
    <div class="card">
        <div class="grid">
            <div class="col-10">
                <h3>Building a Kitchen</h3>
            </div>
            <div class="col-2">
                <button pButton pRipple type="button"
                        icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"></button>
            </div>
        </div>
        <h4><b>80DT/day</b></h4>
        <h4>Intermediate</h4>
        <p>
            Hello! I’m looking for someone with experience yo create a Wikipedia Page for a Brand in english. Could you please send me a proposal…
        </p>
        <button pButton type="button" class="p-button-raised p-button-rounded">See More</button>
    </div>
</div>
