.form-header{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
 .au-input-xl{
    min-width:350px
}

.au-btn-submit{
    position:relative;
    right:0;
    padding:ceil($number: 10px) 30px;
    min-width:95px;
    color:#fff;
    border:1px solid #205b8d;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:43px;
    background:#205b8d
}


input.au-input.au-input-xl{
    border-radius:40px!important;
    margin-right:15px
}

.au-input{
    line-height:43px;
    border:1px solid #e5e5e5;
    font-size:14px;
    color:#666;
    padding:0 17px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease
}