<!--<head xmlns="http://www.w3.org/1999/html">-->
<!--    <title>TunisiaService</title>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">-->
<!--    <link rel="stylesheet" href="signup-worker.component.scss">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <style>-->
<!--        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}-->
<!--        .myLink {display: none}-->
<!--    </style>-->
<!--</head>-->
<!--<body class="w3-light-grey">-->

<!--&lt;!&ndash; Navigation Bar &ndash;&gt;-->
<!--<div class="w3-bar w3-black w3-border-bottom w3-xlarge">-->
<!--    <a href="" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>TunisiaService</b></a>-->
<!--    <a href="" class="w3-bar-item w3-button w3-padding-large">HOME</a>-->
<!--    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Sign up </a> &lt;!&ndash;here the user is gonna choose either he wants to sign in as a client or as a professional  &ndash;&gt;-->
<!--    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Log in </a>-->
<!--    <a href="" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>-->

<!--</div>-->
<!--<div class="center">-->
<!--    <h1>Sign Up</h1>-->
<!--    <form method="post">-->
<!--        <div class="txt_field">-->
<!--            <input type="text" required>-->
<!--            <span></span>-->
<!--            <label>Full name</label>-->
<!--        </div>-->
<!--        <div class="txt_field">-->
<!--            <input type="text" required>-->
<!--            <span></span>-->
<!--            <label>Service</label>-->
<!--        </div>-->
<!--        <div class="txt_field">-->
<!--            <input type="text" required>-->
<!--            <span></span>-->
<!--            <label>Zip code</label>-->
<!--        </div>-->
<!--        <div class="txt_field">-->
<!--            <input type="email" required>-->
<!--            <span></span>-->
<!--            <label>Email address</label>-->
<!--        </div>-->
<!--        <div class="txt_field">-->
<!--            <input type="password" required>-->
<!--            <span></span>-->
<!--            <label>Password</label>-->
<!--        </div>-->

<!--        <div class="txt_field">-->
<!--            <input type="file" required>-->
<!--            <span></span>-->

<!--        </div>-->
<!--&lt;!&ndash;                <h6 class="mb-0">Upload CV</h6>&ndash;&gt;-->
<!--&lt;!&ndash;        <input class="form-control form-control-lg" id="formFileLg" type="file" />&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-9 pe-5">&ndash;&gt;-->


<!--&lt;!&ndash;                <div class="small text-muted mt-2">Upload your CV/Resume or any other relevant file. Max file&ndash;&gt;-->
<!--&lt;!&ndash;                    size 50 MB</div>&ndash;&gt;-->

<!--&lt;!&ndash;            </div>&ndash;&gt;-->




<!--        <input type="submit" value="Send application">-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--<footer class="w3-container w3-center w3-opacity w3-margin-bottom">-->
<!--    <h5>Find Us On</h5>-->
<!--    <div class="w3-xlarge w3-padding-16">-->
<!--        <i class="fa fa-facebook-official w3-hover-opacity"></i>-->
<!--        <i class="fa fa-instagram w3-hover-opacity"></i>-->
<!--        <i class="fa fa-snapchat w3-hover-opacity"></i>-->
<!--        <i class="fa fa-pinterest-p w3-hover-opacity"></i>-->
<!--        <i class="fa fa-twitter w3-hover-opacity"></i>-->
<!--        <i class="fa fa-linkedin w3-hover-opacity"></i>-->
<!--    </div>-->
<!--</footer>-->
